<div class="social-links">
    <a href="https://twitter.com/cheekyspankos" target="_blank" rel="noopener">
        <img src="{{ '/assets/images/socials/twitter.svg' | absolute_url }}" alt="Twitter">
    </a>
    <a href="https://www.fetlife.com/groups/170517" target="_blank" rel="noopener">
        <img src="{{ '/assets/images/socials/fetlife.svg' | absolute_url }}" alt="FetLife">
    </a>
    <a href="mailto:cheekypubs@gmail.com">
        <img src="{{ '/assets/images/socials/email.svg' | absolute_url }}" alt="Email">
    </a>
</div>
<p>&copy; {{ 'now' | date: "%Y" }} Cheeky Pubs. All rights reserved.</p>
<p class="admin-link"><a href="{{ '/submit/' | absolute_url }}">Admin Login</a></p>
